/* Importing Foogle Font*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.titillium-web-light {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: normal;
  animation: fadeIn 3s ease forwards;
}

.titillium-web-regular {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 3s ease forwards;
}

body {
  background: linear-gradient(180deg, #8a00ff, #00eaff);
  background-attachment: fixed;
  margin: 0;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0px);}
}

header {
  background: transparent;
  margin-top: 0px;
  animation: fadeIn 3s ease forwards;
}

main,
footer {
  background: transparent;
}

.nav-menu {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  gap: 45px;
  list-style: none; /* Punkte entfernen */
  padding: 0;
  animation: fadeIn 3s ease forwards;
}

.header-format{
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: normal;
  animation: fadeIn 3s ease forwards;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
}

.top-image {
  width: 325px; /* Größe anpassen */
  height: 325px; /* gleiche Höhe wie Breite → perfekt für Kreis */
  object-fit: cover; /* sorgt dafür, dass das Bild nicht verzerrt wird */
  border-radius: 50%; /* macht daraus einen Kreis */
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 auto; /* optional: zentriert das Bild */
  margin-top: 275px;
  animation: fadeIn 4s ease forwards;
}

.wave-container {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 300px;
  margin-top: -50px;
}

.waves path {
  fill: rgba(255, 255, 255, 0.4);
  animation: wave 6s infinite linear;
}

@keyframes wave {
  0% {
    d: path("M0,160L80,165C160,170,320,180,480,170C640,160,800,130,960,130C1120,130,1280,160,1360,175L1440,190L1440,320L0,320Z");
  }
  50% {
    d: path("M0,150L80,140C160,130,320,140,480,150C640,160,800,175,960,170C1120,165,1280,135,1360,120L1440,105L1440,320L0,320Z");
  }
  100% {
    d: path("M0,160L80,165C160,170,320,180,480,170C640,160,800,130,960,130C1120,130,1280,160,1360,175L1440,190L1440,320L0,320Z");
  }
}
