/* Importing Foogle Font*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.titillium-web-light {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff; /* Textfarbe */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.2);
}

body {
  background: linear-gradient(180deg, #8a00ff, #00eaff);
  background-attachment: fixed;
  margin: 0;
}

header {
  background: transparent;
  margin-top: 0px;
}

main,
footer {
  background: transparent;
}

.nav-menu {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  gap: 40px; /* Abstand zwischen den Links */
  list-style: none; /* Punkte entfernen */
  padding: 0;
}

.header-format,
h2 {
  display: flex;
  justify-content: center;
}

.top-image {
  width: 200px; /* Größe anpassen */
  height: 200px; /* gleiche Höhe wie Breite → perfekt für Kreis */
  object-fit: cover; /* sorgt dafür, dass das Bild nicht verzerrt wird */
  border-radius: 50%; /* macht daraus einen Kreis */
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 auto; /* optional: zentriert das Bild */
  margin-top: 50px;
}
